workloads/n8n/workflows/english-quest.json
{
  "name": "English Quest",
  "nodes": [
    {
      "id": "node-01-schedule",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [
        260,
        300
      ],
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "triggerAtHour": 6
            }
          ]
        },
        "timezone": "Asia/Seoul"
      }
    },
    {
      "id": "node-02-config",
      "name": "Set Config",
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        460,
        300
      ],
      "parameters": {
        "mode": "manual",
        "duplicateItem": false,
        "assignments": {
          "assignments": [
            {
              "id": "a1",
              "name": "SCHEDULE_HOUR",
              "value": "6",
              "type": "string"
            },
            {
              "id": "a2",
              "name": "MIN_SCORE",
              "value": "80",
              "type": "string"
            },
            {
              "id": "a3",
              "name": "MAX_DAILY_CANDIDATES",
              "value": "1",
              "type": "string"
            },
            {
              "id": "a4",
              "name": "TARGET_DECK",
              "value": "English::DailySentence",
              "type": "string"
            },
            {
              "id": "a5",
              "name": "MODEL_NAME",
              "value": "EnglishQuest",
              "type": "string"
            },
            {
              "id": "a6",
              "name": "MINIFLUX_FETCH_LIMIT",
              "value": "30",
              "type": "string"
            },
            {
              "id": "a7",
              "name": "MINIFLUX_API_URL",
              "value": "http://miniflux.miniflux.svc.cluster.local:8080",
              "type": "string"
            },
            {
              "id": "a8",
              "name": "ANKI_CONNECT_URL",
              "value": "http://10.0.0.12:8765",
              "type": "string"
            },
            {
              "id": "a9",
              "name": "LLM_API_URL",
              "value": "https://api.deepseek.com/chat/completions",
              "type": "string"
            },
            {
              "id": "a10",
              "name": "LLM_MODEL",
              "value": "deepseek-chat",
              "type": "string"
            },
            {
              "id": "a11",
              "name": "ANKI_CONNECT_KEY",
              "value": "faaeb655d017e947d69a2bed551bb93c90678bcd",
              "type": "string"
            }
          ]
        },
        "options": {}
      }
    },
    {
      "id": "node-03-anki-ping",
      "name": "Anki Ping",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        660,
        300
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Config').first().json.ANKI_CONNECT_URL }}",
        "authentication": "genericCredentialType",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"action\":\"version\",\"version\":6,\"key\":\"{{ $('Set Config').first().json.ANKI_CONNECT_KEY }}\"}",
        "genericAuthType": "httpCustomAuth"
      },
      "credentials": {
        "httpCustomAuth": {
          "id": "ankiApiKey",
          "name": "AnkiConnect API Key"
        }
      }
    },
    {
      "id": "node-04-anki-up",
      "name": "Anki Up?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        860,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-anki-up",
              "leftValue": "={{ $json.result !== null && $json.error === null }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "node-05-noop",
      "name": "Stop (Anki Down)",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [
        1060,
        460
      ],
      "parameters": {}
    },
    {
      "id": "node-06-miniflux",
      "name": "Miniflux Entries",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1060,
        300
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "GET",
        "url": "={{ $('Set Config').first().json.MINIFLUX_API_URL + '/v1/entries' }}",
        "authentication": "genericCredentialType",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "status",
              "value": "unread"
            },
            {
              "name": "direction",
              "value": "desc"
            },
            {
              "name": "limit",
              "value": "={{ $('Set Config').first().json.MINIFLUX_FETCH_LIMIT }}"
            }
          ]
        },
        "genericAuthType": "httpHeaderAuth"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "minifluxAuth",
          "name": "Miniflux Header Auth"
        }
      }
    },
    {
      "id": "node-07-build-prompt",
      "name": "Build Prompt",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1260,
        300
      ],
      "parameters": {
        "jsCode": "const config = $('Set Config').first().json;\nconst entries = $json.entries || [];\n\nif (!entries.length) {\n  return [];\n}\n\nfunction stripHtml(html) {\n  return (html || '').replace(/<[^>]*>/g, '').replace(/\\s+/g, ' ').trim();\n}\n\nconst fetchLimit = parseInt(config.MINIFLUX_FETCH_LIMIT) || 30;\nconst snippets = entries.slice(0, fetchLimit).map(e => {\n  const title = (e.title || '').slice(0, 100);\n  const content = stripHtml(e.content || e.summary || '').slice(0, 300);\n  const url = e.url || '';\n  return 'TITLE: ' + title + '\\nURL: ' + url + '\\nCONTENT: ' + content;\n}).join('\\n\\n---\\n\\n');\n\nconst systemPrompt = [\n  'You are an English learning assistant. Extract sentences from articles worth memorizing for professional use.',\n  '',\n  'Output a JSON array ONLY \u2014 no markdown fences, no commentary, raw JSON. Each item:',\n  '{',\n  '  \"sentence\": \"full original sentence from the article\",',\n  '  \"expression\": \"key phrase or collocation (2-6 words)\",',\n  '  \"korean_translation\": \"Korean translation of the expression\",',\n  '  \"intuition\": \"why a native speaker uses this naturally (1 sentence)\",',\n  '  \"usage_context\": \"example using the expression in a different context\",',\n  '  \"why_good\": \"professional reuse value and native-sounding quality\",',\n  '  \"score\": 0,',\n  '  \"source_title\": \"article title\",',\n  '  \"source_url\": \"article URL\"',\n  '}',\n  '',\n  'Score 80+: broadly reusable in professional/technical writing, native-sounding collocation or idiom.',\n  'Reject: single words, overly academic jargon, domain-specific terms that only work in one field.'\n].join('\\n');\n\nreturn [{\n  json: {\n    model: config.LLM_MODEL,\n    messages: [\n      { role: 'system', content: systemPrompt },\n      { role: 'user', content: 'Extract learning candidates from these articles:\\n\\n' + snippets }\n    ]\n  }\n}];"
      }
    },
    {
      "id": "node-08-llm",
      "name": "LLM",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1460,
        300
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Config').first().json.LLM_API_URL }}",
        "authentication": "genericCredentialType",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={{ $json }}",
        "genericAuthType": "httpHeaderAuth"
      },
      "credentials": {
        "httpHeaderAuth": {
          "id": "llmBearer",
          "name": "LLM Bearer"
        }
      }
    },
    {
      "id": "node-09-parse-rank",
      "name": "Parse Rank",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1660,
        300
      ],
      "parameters": {
        "jsCode": "const config = $('Set Config').first().json;\nconst MIN_SCORE = parseInt(config.MIN_SCORE) || 80;\nconst MAX_DAILY = parseInt(config.MAX_DAILY_CANDIDATES) || 1;\n\nif ($json.error) return []; // LLM HTTP error via continueOnFail\n\nconst content = ($json && $json.choices && $json.choices[0] && $json.choices[0].message && $json.choices[0].message.content) ? $json.choices[0].message.content : '';\n\nlet candidates;\ntry {\n  const cleaned = content.replace(/^\\uFEFF/, '').replace(/^```(?:json)?\\n?/, '').replace(/\\n?```$/, '').trim();\n  candidates = JSON.parse(cleaned);\n  if (!Array.isArray(candidates)) throw new Error('not an array');\n} catch (e) {\n  throw new Error('LLM non-JSON response: ' + e.message + ' | content: ' + content.slice(0, 200));\n}\n\nreturn candidates\n  .filter(c => (c.score || 0) >= MIN_SCORE && (c.expression || '').trim().length > 0)\n  .sort((a, b) => b.score - a.score)\n  .slice(0, MAX_DAILY)\n  .map(c => ({\n    json: {\n      sentence:       c.sentence || '',\n      expression:     c.expression || '',\n      korean:         c.korean_translation || '',\n      intuition:      c.intuition || '',\n      usageContext:   c.usage_context || '',\n      whyGood:        c.why_good || '',\n      score:          c.score || 0,\n      sourceTitle:    c.source_title || '',\n      sourceUrl:      c.source_url || '',\n      findNotesQuery: 'deck:' + JSON.stringify(config.TARGET_DECK) + ' Expression:' + JSON.stringify((c.expression || ''))\n    }\n  }));"
      }
    },
    {
      "id": "node-10-create-deck",
      "name": "Create Deck",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1860,
        300
      ],
      "continueOnFail": true,
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Config').first().json.ANKI_CONNECT_URL }}",
        "authentication": "genericCredentialType",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"action\":\"createDeck\",\"version\":6,\"key\":\"{{ $('Set Config').first().json.ANKI_CONNECT_KEY }}\",\"params\":{\"deck\":\"{{ $('Set Config').first().json.TARGET_DECK }}\"}}",
        "genericAuthType": "httpCustomAuth"
      },
      "credentials": {
        "httpCustomAuth": {
          "id": "ankiApiKey",
          "name": "AnkiConnect API Key"
        }
      }
    },
    {
      "id": "node-11-find-notes",
      "name": "Find Notes",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2060,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Config').first().json.ANKI_CONNECT_URL }}",
        "authentication": "genericCredentialType",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"action\":\"findNotes\",\"version\":6,\"key\":\"{{ $('Set Config').first().json.ANKI_CONNECT_KEY }}\",\"params\":{\"query\":{{ JSON.stringify($('Parse Rank').item.json.findNotesQuery) }}}}",
        "genericAuthType": "httpCustomAuth"
      },
      "credentials": {
        "httpCustomAuth": {
          "id": "ankiApiKey",
          "name": "AnkiConnect API Key"
        }
      }
    },
    {
      "id": "node-12-new",
      "name": "New?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.2,
      "position": [
        2260,
        300
      ],
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "loose"
          },
          "conditions": [
            {
              "id": "cond-new",
              "leftValue": "={{ ($json.result || []).length }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        }
      }
    },
    {
      "id": "node-13-add-note",
      "name": "Add Note",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2460,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Config').first().json.ANKI_CONNECT_URL }}",
        "authentication": "genericCredentialType",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"action\":\"addNote\",\"version\":6,\"key\":\"{{ $('Set Config').first().json.ANKI_CONNECT_KEY }}\",\"params\":{\"note\":{\"deckName\":\"{{ $('Set Config').first().json.TARGET_DECK }}\",\"modelName\":\"{{ $('Set Config').first().json.MODEL_NAME }}\",\"fields\":{\"Sentence\":{{ JSON.stringify($('Parse Rank').item.json.sentence) }},\"Expression\":{{ JSON.stringify($('Parse Rank').item.json.expression) }},\"Korean\":{{ JSON.stringify($('Parse Rank').item.json.korean) }},\"Intuition\":{{ JSON.stringify($('Parse Rank').item.json.intuition) }},\"UsageContext\":{{ JSON.stringify($('Parse Rank').item.json.usageContext) }},\"WhyGood\":{{ JSON.stringify($('Parse Rank').item.json.whyGood) }},\"SourceTitle\":{{ JSON.stringify($('Parse Rank').item.json.sourceTitle) }},\"SourceUrl\":{{ JSON.stringify($('Parse Rank').item.json.sourceUrl) }},\"GeneratedAt\":{{ JSON.stringify($now.toISO()) }}},\"options\":{\"allowDuplicate\":false},\"tags\":[\"auto-generated\",\"daily-candidate\",\"rss\"]}}}",
        "genericAuthType": "httpCustomAuth"
      },
      "credentials": {
        "httpCustomAuth": {
          "id": "ankiApiKey",
          "name": "AnkiConnect API Key"
        }
      }
    },
    {
      "id": "node-14-sync",
      "name": "Sync",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        3060,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Config').first().json.ANKI_CONNECT_URL }}",
        "authentication": "genericCredentialType",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"action\":\"sync\",\"version\":6,\"key\":\"{{ $('Set Config').first().json.ANKI_CONNECT_KEY }}\"}",
        "genericAuthType": "httpCustomAuth"
      },
      "credentials": {
        "httpCustomAuth": {
          "id": "ankiApiKey",
          "name": "AnkiConnect API Key"
        }
      }
    },
    {
      "id": "node-13b-find-cards",
      "name": "Find Cards",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2660,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Config').first().json.ANKI_CONNECT_URL }}",
        "authentication": "genericCredentialType",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"action\":\"findCards\",\"version\":6,\"key\":\"{{ $('Set Config').first().json.ANKI_CONNECT_KEY }}\",\"params\":{\"query\":\"nid:{{ $('Add Note').first().json.result }}\"}}",
        "genericAuthType": "httpCustomAuth"
      },
      "credentials": {
        "httpCustomAuth": {
          "id": "ankiApiKey",
          "name": "AnkiConnect API Key"
        }
      }
    },
    {
      "id": "node-13c-change-deck",
      "name": "Change Deck",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        2860,
        300
      ],
      "parameters": {
        "method": "POST",
        "url": "={{ $('Set Config').first().json.ANKI_CONNECT_URL }}",
        "authentication": "genericCredentialType",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\"action\":\"changeDeck\",\"version\":6,\"key\":\"{{ $('Set Config').first().json.ANKI_CONNECT_KEY }}\",\"params\":{\"cards\":{{ JSON.stringify($json.result) }},\"deck\":\"{{ $('Set Config').first().json.TARGET_DECK }}\"}}",
        "genericAuthType": "httpCustomAuth"
      },
      "credentials": {
        "httpCustomAuth": {
          "id": "ankiApiKey",
          "name": "AnkiConnect API Key"
        }
      }
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Set Config",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Set Config": {
      "main": [
        [
          {
            "node": "Anki Ping",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anki Ping": {
      "main": [
        [
          {
            "node": "Anki Up?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Anki Up?": {
      "main": [
        [
          {
            "node": "Miniflux Entries",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Stop (Anki Down)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Miniflux Entries": {
      "main": [
        [
          {
            "node": "Build Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Build Prompt": {
      "main": [
        [
          {
            "node": "LLM",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "LLM": {
      "main": [
        [
          {
            "node": "Parse Rank",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Rank": {
      "main": [
        [
          {
            "node": "Create Deck",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Deck": {
      "main": [
        [
          {
            "node": "Find Notes",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Notes": {
      "main": [
        [
          {
            "node": "New?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "New?": {
      "main": [
        [
          {
            "node": "Add Note",
            "type": "main",
            "index": 0
          }
        ],
        []
      ]
    },
    "Add Note": {
      "main": [
        [
          {
            "node": "Find Cards",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Find Cards": {
      "main": [
        [
          {
            "node": "Change Deck",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Change Deck": {
      "main": [
        [
          {
            "node": "Sync",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": null,
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": ""
  },
  "pinData": {},
  "staticData": null,
  "tags": []
}